// Import's
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Colors
$black:	#000000;
$light-black: #333333;
$title-black: #555555;

$white: #ffffff;
$green-theme: #608a72;
$blue-theme: #2ee2d4;

$gray: #777777;
$light-gray: #f6f6f6;
$border-gray: #f1f1f1;

$bg-gray: #fcfbfb;

// RGBA Colors
$nav-black-transp: rgba(51, 51, 51, 0.9);

$black-transp: rgba(0, 0, 0, 0.4); // test

$light-black-transp: rgba(0, 0, 0, 0.3);
$hover-black-transp: rgba(0, 0, 0, 0.9);


// Fonts
$roboto: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;
